.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/-1;
}

$font-family--copy: "PT Serif", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;

$font-family--display: "GT Eesti", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;

$color--background--primary: #fbfeff;
$color--background--secondary: #f8f8f8;
$color--background--accent: #6ea09a;
$color--background--secondary--alt: #eeeae2;
$color--background--accent--secondary: #cba761;
$color--action: #384b51;
$color--gray: #6a7e85;
$color--gray--dark: #31454b;
$color--gray--lightest: rgba(0, 0, 0, 0.24);
$color--white--80: rgba(255, 255, 255, 0.8);
$color--white--90: rgba(255, 255, 255, 0.9);
$color--black--primary: #2b2b2b;

.copy {
  &--regular {
    font-family: $font-family--copy;
    font-weight: 400;
    font-size: 24px;
    color: $color--gray--dark;
  }
  &--secondary {
    font-family: $font-family--copy;
    font-weight: 400;
    font-size: 24px;
    color: $color--gray--dark;
  }
  &--highlight {
    font-family: $font-family--display;
    font-weight: 300;
    font-size: 32px;
    color: $color--black--primary;
  }
}

.display {
  &--medium {
    font-family: $font-family--display;
    font-weight: 300;
    font-size: 42px;
    color: $color--gray--dark;
  }
  &--large {
    font-family: $font-family--display;
    font-weight: 300;
    font-size: 64px;
    color: $color--gray--dark;
  }
}

.link {
  &--nav {
    font-family: $font-family--display;
    font-weight: 300;
    font-size: 24px;
    color: $color--action;
    text-decoration: underline;
    &:hover {
      color: $color--action;
    }
  }
  &--action {
    font-family: $font-family--display;
    font-weight: 300;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $color--gray;
  }
}
